asgiref
black
certifi
click
crispy-bootstrap5
dj-database-url
dj-email-url
Django
django-cache-url
django-crispy-forms
djhtml
dotenv
environs
gunicorn
marshmallow
mypy_extensions
packaging
pathspec
platformdirs
psycopg
psycopg-binary
python-dotenv
pytokens
sqlparse
whitenoise
